<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>updateuser</servlet-name>
        <servlet-class>edu.nuist.TestLet</servlet-class>
        <!--<servlet-class>edu.nuist.servlet.Hilet</servlet-class>-->
        <init-param>
            <param-name>servletProp</param-name>
            <param-value>WEB-INF\classes\</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateuser</servlet-name>
        <url-pattern>/json</url-pattern>
    </servlet-mapping>

</web-app>